body{
  background-image: url(Flat_Message.png);
  background-size: 100px 100px;png);
  background-repeat: no-repeat;
  margin-top: 200px;
}
body:hover{
  background-image: url(Flat_Message2.png);
  background-size: 100px 100px;png);
  background-repeat: no-repeat;
}
#u{
  float: 200px;
  width: auto;
  height: 80px;
  background-image:  url(1.jpg);

  padding: 20px 20px;
  margin: 20px 20px;
  line-height: 5px;
  text-align: center;
  color:   #FFF;
  font-size: 20pt;
  border-radius: 50px;
  opacity: 0.4;
}
#menu{



}
#menu:hover{
  background-image: url(Flat_Message2.png);
}
li{
  color: #FFF;
  text-align: left;

}
p{
  margin-left: 20px;

}
hr{
  width: 600px;
  color: green;
  margin-left: 20px;
}
#i{
  margin-left: 20px;
  color: gray;
}
