body{
  background: #138d75;
}
#u{
  width: auto;
  height: 80px;
  background-image:  url(1.jpg);

  padding: 20px 20px;
  margin: 20px 20px;
  line-height: 5px;
  text-align: center;
  color:   #138d75;
  font-size: 20pt;
  border-radius: 50px;
}
li{
  color: #000;
  text-align: left;

}
p{
  margin-left: 20px;

}
hr{
  width: 600px;
  color: green;
  margin-left: 20px;
}
#i{
  margin-left: 20px;
}
